<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><b>WORKOUT</b></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true"></a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link ">EXERCISES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">TRAINESS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">PRICING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">LOGIN</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
  

  <!-- after nav -->
   
<div class="home-details">

    <div class="toggle">
      <a class="back-black">
        <button class="btn btn-success btn-top">NEW</button>
        High Intensity workout to burn calories</a>
    </div>
    <div class="home-title">
      <div>
        <h1 class="home-titleh1">Cardio</h1>
        <h1 class="home-titleh1">Exercise</h1>
        <div class="para">
          <span>lorem ipsum dolr sit amet, consectetur adipiscing elit, sed do</span><br>
          <span>eiusmod tempor incididunt ut labore et dolore magna aliquo</span>
        </div>
        <div class="bt">
          <button class="btn btn-success">Get Started</button>
          <button class="btn btn-dark">Preview</button>
        </div>
      </div>
      <div>
        <div class="dis-flex">
          <div class="home-image01">
            @if (allImg) {
            <img src="{{allImg.home}}" alt="Exercise">}
            <div class="timebutton">
              <button class="btn btn-primary est-calories ">165 <p><sub>EST CALORIES</sub></p></button>
              <button class="btn btn-success time-calories ">3:14 <p><sub>TIME</sub></p></button>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  