
<!-- last-part -->
<div class="bottom">
    <div class="bottom-head">
      <div class="last-workout">
        <h1>WORKOUT</h1>
        <p>Lorem ipsum dolor sit amet 
          consectetur adipisicing elit. 
          Cum dolorum voluptatum a pariatur 
          architecto, adipisci deleniti rem 
          nostrum sint nobis?</p>
      </div>
      <div class="list">
        <ul>
          <li>BUSINESS</li>
          <li>PARTNERSIP</li>
          <li>CAREER</li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li>BLOGS</li>
          <li>SECURITY</li>
          <li>SECURITY</li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li>CONTACT US</li>
          <li>PRIVACY POLICY</li>
          <li>TERMS AND CONDITIONS</li>
        </ul>
      </div>
  
    </div>
   </div>