
<!-- last-part -->
<div class="bottom">
    <div class="bottom-head">
      <div class="last-workout">
        <h1>WORKOUT</h1>
        <p>Lorem ipsum dolor sit amet 
          consectetur adipisicing elit. 
          Cum dolorum voluptatum a pariatur 
          architecto, adipisci deleniti rem 
          nostrum sint nobis?</p>
      </div>
      <div class="list">
        <ul>
          <li><a href="">BUSINESS</a></li>
          <li><a href="">PARTNERSIP</a></li>
          <li><a href="">CAREER</a></li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li><a href="">BLOGS</a></li>
          <li><a href="">SECURITY</a></li>
          <li><a href="">SECURITY</a></li>
        </ul>
      </div>
      <div class="list">
        <ul>
          <li><a href="">CONTACT US</a></li>
          <li><a href="">PRIVACY POLICY</a></li>
          <li><a href="">TERMS AND CONDITIONS</a></li>
        </ul>
      </div>
  
    </div>
   </div>