<div class="populer-exercises">
    <div class="popular-head">
      <div>
        <h5 class="popular-title">Popular Exercises</h5>
      </div>
      <div><a href="">SEE MORE EXERCISES</a></div>
    </div>
    <div class="container text-center">
      <div class="row">
        @if (allImg) {
        <div class="col">
          <img src="{{allImg.mid01}}" alt="">
          <p>Treadmill</p>
        </div>
        <div class="col">
          <img src="{{allImg.mid02}}" alt="">
          <p>Stretching</p>
        </div>
        <div class="col">
          <img src="{{allImg.mid03}}" alt="">
          <p>Yoga</p>
        </div>
        <div class="col">
          <img src="{{allImg.mid04}}" alt="">
          <p>Running</p>
        </div>
        <div class="col">
          <img src="{{allImg.mid05}}" alt="">
          <p>Lifting</p>
        </div>
        <div class="col">
          <img src="{{allImg.mid06}}" alt="">
          <p>PushUP</p>
        </div>}
      </div>
    </div>
  </div>

  
  <div class="botm-info">
    <div class="workout-program">
      <h1 class="work-up">Workout</h1>
      <h1 class="work-up">Program</h1>
      <h1 class="work-up">Made</h1>
      <h1 class="work-up">For You</h1>
      <!-- @if (allImg) {<img src="{{allImg.patch}}" alt="">} -->
    </div>
    <div class="btm-paragraph">
      <p>Lorem ipsum dolor sit amet , consectetur
        adipiscing elit, sed do eiusmad tempor incididunt ut ladore
        et dolore magna aliqua consectetur adipiscing
      </p>
      <button class="btn btn-success">Get Started</button>
  
    </div>
  </div>