* {
    background-color: black;
    color: white;

}

.body {
    height: 100vh;
    width: 100vw;
    color: white;
}


.last-btm-img img {
    height: 30vh;
    width: 25vw;
    padding: 0px;
    margin: 0px;
    object-fit: cover;

}

.last-btm-img .big-p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.last-btm-img .trainer {
    font-size: smaller;
    position: relative;
    bottom: 20px;
    color: rgb(155, 147, 147);
}

.list-info span {
    display: flex;
    position: relative;
    top: 30px;
    background: transparent;
    color: rgb(155, 147, 147);
}

.list-info i {
    position: absolute;
    right: 10%;
    bottom: 40px;
    font-size: xx-large;
    background: transparent;

}

.last-workout {
    width: 30%;
}
