<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><b>WORKOUT</b></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">.</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link ">EXERCISES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">TRAINESS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">PRICING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">LOGIN</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>


<div class="home-details">

  <div class="toggle">
    <a class="back-black">
      <button class="btn btn-success btn-top">NEW</button>
      High Intensity workout to burn calories</a>
  </div>
  <div class="home-title">
    <div>
      <h1 class="home-titleh1">Cardio</h1>
      <h1 class="home-titleh1">Exercise</h1>
      <div class="para">
        <span>lorem ipsum dolr sit amet, consectetur adipiscing elit, sed do</span><br>
        <span>eiusmod tempor incididunt ut labore et dolore magna aliquo</span>
      </div>
      <div class="bt">
        <button class="btn btn-success">Get Started</button>
        <button class="btn btn-dark">Preview</button>
      </div>
    </div>
    <div>
      <div class="dis-flex">
        <div class="home-image01">
          @if (allImg) {
          <img src="{{allImg.home}}" alt="Exercise">}
          <div class="timebutton">
            <button class="btn btn-primary est-calories ">165 <p><sub>EST CALORIES</sub></p></button>
            <button class="btn btn-success time-calories ">3:14 <p><sub>TIME</sub></p></button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- mid turm -->
<div class="populer-exercises">
  <div class="popular-head">
    <div>
      <h5 class="popular-title">Popular Exercises</h5>
    </div>
    <div><a href="">SEE MORE EXERCISES</a></div>
  </div>
  <div class="container text-center">
    <div class="row">
      @if (allImg) {
      <div class="col">
        <img src="{{allImg.mid01}}" alt="">
        <p>Treadmill</p>
      </div>
      <div class="col">
        <img src="{{allImg.mid02}}" alt="">
        <p>Stretching</p>
      </div>
      <div class="col">
        <img src="{{allImg.mid03}}" alt="">
        <p>Yoga</p>
      </div>
      <div class="col">
        <img src="{{allImg.mid04}}" alt="">
        <p>Running</p>
      </div>
      <div class="col">
        <img src="{{allImg.mid05}}" alt="">
        <p>Lifting</p>
      </div>
      <div class="col">
        <img src="{{allImg.mid06}}" alt="">
        <p>PushUP</p>
      </div>}
    </div>
  </div>
</div>


<!-- bottom info -->
<div class="botm-info">
  <div class="workout-program">
    <h1 class="work-up">Workout</h1>
    <h1 class="work-up">Program</h1>
    <h1 class="work-up">Made</h1>
    <h1 class="work-up">For You</h1>
    <!-- @if (allImg) {<img src="{{allImg.patch}}" alt="">} -->
  </div>
  <div class="btm-paragraph">
    <p>Lorem ipsum dolor sit amet , consectetur
      adipiscing elit, sed do eiusmad tempor incididunt ut ladore
      et dolore magna aliqua consectetur adipiscing
    </p>
    <button class="btn btn-success">Get Started</button>

  </div>
</div>


<!-- last btm img -->
<div class="last-btm-img">
  <div class="container text-center">
    <div class="row">
      @if (allImg) {
      <div class="col">
        <img src="{{allImg.btm01}}" alt="">
        <p class="big-p">Samantha William</p>
        <p class="trainer">Trainer</p>
      </div>
      <div class="col">
        <img src="{{allImg.btm02}}" alt="">
        <p class="big-p">Karen Summer</p>
        <p class="trainer">Trainer</p>
      </div>
      <div class="col">
        <img src="{{allImg.btm03}}" alt="">
        <p class="big-p">Jonathan Wise</p>
        <p class="trainer">Trainer</p>
      </div>}
    </div>
  </div>
</div>

<!-- list of page -->
<ul class="list-group list-group-flush list-info">
  <li class="list-group-item text-center">
    <span>01</span>
    <h5>Workout at Home</h5>
    <p>15 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
  <li class="list-group-item text-center">
    <span>02</span>
    <h5>Stay Strong anf Fit</h5>
    <p>48 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
  <li class="list-group-item text-center">
    <span>03</span>
    <h5>High Intensity</h5>
    <p>25 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
  <li class="list-group-item text-center">
    <span>04</span>
    <h5>Simple Workout</h5>
    <p>35 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
  <li class="list-group-item text-center">
    <span>05</span>
    <h5>Burn Calories</h5>
    <p>35 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
</ul>

<!-- last-part -->
 <div class="bottom">
  <div class="bottom-head">
    <div class="last-workout">
      <h1>WORKOUT</h1>
      <p>Lorem ipsum dolor sit amet 
        consectetur adipisicing elit. 
        Cum dolorum voluptatum a pariatur 
        architecto, adipisci deleniti rem 
        nostrum sint nobis?</p>
    </div>
    <div class="list">
      <ul>
        <li>BUSINESS</li>
        <li>PARTNERSIP</li>
        <li>CAREER</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li>BLOGS</li>
        <li>SECURITY</li>
        <li>SECURITY</li>
      </ul>
    </div>
    <div class="list">
      <ul>
        <li>CONTACT US</li>
        <li>PRIVACY POLICY</li>
        <li>TERMS AND CONDITIONS</li>
      </ul>
    </div>

  </div>
 </div>