<app-header></app-header>
<!-- mid turm -->
<app-mid></app-mid>

<!-- bottom info -->

<!-- last btm img -->
<div class="last-btm-img">
  <div class="container text-center">
    <div class="row">
      @if (allImg) {
      <div class="col">
        <img src="{{allImg.btm01}}" alt="">
        <p class="big-p">Samantha William</p>
        <p class="trainer">Trainer</p>
      </div>
      <div class="col">
        <img src="{{allImg.btm02}}" alt="">
        <p class="big-p">Karen Summer</p>
        <p class="trainer">Trainer</p>
      </div>
      <div class="col">
        <img src="{{allImg.btm03}}" alt="">
        <p class="big-p">Jonathan Wise</p>
        <p class="trainer">Trainer</p>
      </div>}
    </div>
  </div>
</div>

<!-- list of page -->
<ul class="list-group list-group-flush list-info">
  <li class="list-group-item text-center">
    <span>01</span>
    <h5>Workout at Home</h5>
    <p>15 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
  <li class="list-group-item text-center">
    <span>02</span>
    <h5>Stay Strong anf Fit</h5>
    <p>48 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
  <li class="list-group-item text-center">
    <span>03</span>
    <h5>High Intensity</h5>
    <p>25 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
  <li class="list-group-item text-center">
    <span>04</span>
    <h5>Simple Workout</h5>
    <p>35 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
  <li class="list-group-item text-center">
    <span>05</span>
    <h5>Burn Calories</h5>
    <p>35 videos</p>
    <i class='bx bx-right-arrow-alt'></i>
  </li>
</ul>
<app-footer></app-footer>
<router-outlet></router-outlet>